# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
# You should also look at https://hp-theme.gbif-staging.org/documentation-intro for options
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Beaty Biodiversity Museum
email: info@beatymuseum.ubc.ca
description: >- # this means to ignore newlines (until baseurl:)
  The Beaty Biodiversity Museum is Vancouver's natural history museum.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://collections.beatymuseum.ubc.ca"

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-remote-theme

remote_theme: gbif/jekyll-hp-base-theme

algae:
  rootLang: en
  latestPostLimit: 3
  logo: /assets/logo/beaty-logo-horizontal.png
  logoAndTitle: true # include the title next to the logo
  archive_permalink: /news/ # Permalink of page using archive.html layout, required when using post categories
  style:
    # square: false               # Should corners be square or rounded
    colors:
      primary: "#ed1c24" # Primary color of your brand. Use HEX code. Used for buttons and links
      # links: "#fa5e97"          # What color should links have. Use a HEX code. DEfault is primary color.
    coloredHeadlineLinks: false # If a headline is a link, then use the link color. Default is true.

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .LICENSE
  - .netlify.toml
  - .README.md

permalink: pretty # will strip extensions like .html from urls

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "page"
      lang: en
  - scope:
      path: "_posts" # an empty string here means all files in the project
    values:
      layout: "post"
      permalink: "/post/:year/:slug/" # Use /post/yyyy/{filename}/ as permalink for all posts
  - scope:
      path: ""
    values:
      lang: en
  - scope:
      path: "fr/"
    values:
      lang: fr
  - scope:
      path: "_posts/fr/" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: "post"
      permalink: "/fr/post/:year/:slug/" # Use /post/yyyy/{filename}/ as permalink for all posts
