<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;1,400;1,600;0,800;1,800&display=swap"
  rel="stylesheet"
/>

<!-- Favicon -->
<link rel="icon" href="/favicon.svg">

<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
</style>
